<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active Book</title>
</head>
<body>
    <h1> This feature coming soon...   </h1>
    <%- include('../partial/_nav.ejs') %>
    <h1>Active Book</h1>
    <p><strong>Title:</strong> <%= book.title %></p>
    <p><strong>Author:</strong> <%= book.author %></p>
    <p><strong>Type:</strong> <%= book.type %></p>
    <a href="/users/<%= user._id %>/books/<%= book._id %>/edit">Edit Book</a>
    <form action="/users/<%= user._id %>/books/<%= book._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>

    <br>

      <a href="/users/<%= user._id %>/books/">Back to Library</a>  
      <a href="/">Back to Home</a>
</body>
</html>